NX_DB_HOST=localhost,
NX_DB_USERNAME=postgres,
NX_DB_PASSWORD=,
NX_DB_DATABASE=jumpstart,
NX_DB_PORT=5432,

COGNITO_USER_POOL_ID=us-east-2_CxTueqe6g
COGNITO_CLIENT_ID=570i6ocj0882qu0ditm4vrr60f
COGNITO_REGION=us-east-2