# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=branch_dev
DB_PASSWORD=password
DB_NAME=branch_db

# Auth Configuration
JWT_SECRET=dev-secret-change-in-production

# Service Ports (external)
USERS_PORT=3001
PROJECTS_PORT=3002
DONORS_PORT=3003
EXPENDITURES_PORT=3004
REPORTS_PORT=3005
AUTH_PORT=3006

# Cognito Configuration
COGNITO_CLIENT_ID=secret
COGNITO_USER_POOL_ID=secret

# AWS Configuration
S3_BUCKET_NAME=name                                                         
AWS_ACCESS_KEY_ID=key                                                  
AWS_SECRET_ACCESS_KEY=secret                                        
AWS_REGION=region or us-east-2